<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.html') %>
  <title>My First Web With Express</title>
</head>
<body>

  <%- include('partials/navigation.html') %>

  <h1 class="text-center my-5">WebSite</h1>
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum nobis tenetur dolore illo a debitis pariatur quisquam obcaecati harum? Tempore recusandae consectetur fuga dolores ratione nostrum ea iusto dignissimos. Ad!</p>
  </div>

</body>
</html>